*

!.bashrc

!.config/
!.config/labwc/
!.config/labwc/**
!.config/kanshi/
!.config/kanshi/**
!.config/waybar/
!.config/waybar/**
!.config/electron-flags.conf
!.config/code-flags.conf

!wallpapers/
!wallpapers/b-926.jpg

!Screenshots/
!Screenshots/screenshot_2025-07-12-07-48-31.png
!Screenshots/screenshot_2025-07-12-14-19-29.png

!.gitignore
!README.md