*

!.bashrc

!.config/
!.config/labwc/
!.config/labwc/**
!.config/kanshi/
!.config/kanshi/**
!.config/electron-flags.conf
!.config/code-flags.conf

!wallpapers/
!wallpapers/b-926.jpg

!.gitignore
!README.md